.nav {
    width: 100%;
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(155, 169, 231);
    border-top: 0;
    padding: 0 1rem 0 1rem;
}

.nav--webTittle {
    color: rgb(243, 248, 255);
    font-size: 2.5rem;

    font-weight: bold;

    margin-top: .3rem;
}

.nav--navButton{
    cursor: pointer;
}

.nav--loginWrap {
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);

    top: 0;
    margin: 0;
    padding: 0;
}

.nav--menu {
    width: 60%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}