.nav {
    width: 90%;
    height: 75px;
    min-height: 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgb(211, 210, 221);
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgba(139, 139, 223, 1) 35%, rgba(35, 66, 128, 1) 100%);

    border-bottom: 5px solid slateblue;
    border-left: 5px solid slateblue;    
    border-right: 5px solid slateblue;
    border-radius: 0 0 15px 15px;
    padding: 0 1rem 0 1rem;
}

.nav__webtitle {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__webtitle--text {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(243, 248, 255);
    font-size: 2.3rem;

    font-weight: bold;
}

.nav__loginWrap {
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);

    top: 0;
    margin: 0;
    padding: 0;
}

.nav__menu {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

.nav__navListElement {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__navButton{
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(219, 245, 253);
    cursor: pointer;
    border-right: 5px solid rgba(105, 90, 205, 0);

    padding: 0 1rem 0 1rem;
}

.nav__navButton:hover{
    color: rgb(231, 243, 247);
    background-color: rgba(148, 133, 241, 0.4);
    border-right: 5px solid slateblue;
}

.nav__loginWindow {
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
 
    fill: slateblue;
}

.nav__loginWindow--loginIcon, .nav__loginWindow--logoutIcon {
    width: 2.8rem;
    height: 2.8rem;
    
    background-color: none;
    border: 2px solid slateblue;  
    border-radius: 10px;

    padding: .1rem;
}

.nav__loginWindow--loginIcon:hover, .nav__loginWindow--logoutIcon:hover {
    border: 2px solid slateblue;    
    fill: rgb(125, 108, 238);
    background-color: rgba(219, 214, 236, 0.4);
}

.nav--obscured {    
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: rgba(0, 0, 0, 0.3);    
    
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav--base {    
    width: 100%;
    height: 100%;

    display: none;

    background-color: none;

    border: 2px solid red;
}