footer {
    width: 90%;
    min-height: 60px;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background: rgb(211, 210, 221);
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgba(139, 139, 223, 1) 35%, rgba(35, 66, 128, 1) 100%);

    border-top: 5px solid slateblue;
    border-left: 5px solid slateblue;
    border-right: 5px solid slateblue;
    border-radius: 15px 15px 0 0;

    margin-top: auto;
}

.footer--nav {
    width: 50%;
    min-height: 40px;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer--navLink {
    color: rgb(219, 245, 253);
    cursor: pointer;
}

.footer--navLink:hover {
    color: rgb(231, 243, 247);
}

.footer--sign {
    width: 25%;
    min-height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgb(46, 44, 53);
    font-size: 1rem;
}

.footer__weather-card {
    width: 25%;
    min-height: 55px;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer__weather-card--city {
    font-size: 0.9rem;
    color: rgb(219, 245, 253);
}

.footer__weather-card--temperature,
.footer__weather-card--feel {
    font-size: 0.7rem;
    color: rgb(219, 245, 253);
}

@media screen and (max-width: 1200px) {
    footer {
        min-height: 50px;
    }
}