footer {
    width: 90%;
    min-height: 50px;
    gap: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgb(211, 210, 221);
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgba(139, 139, 223, 1) 35%, rgba(35, 66, 128, 1) 100%);

    border-top: 5px solid slateblue;
    border-left: 5px solid slateblue;    
    border-right: 5px solid slateblue;
    border-radius: 15px 15px 0 0;

    margin-top: auto;
}

.footer--nav {
    width: 45%;
    min-height: 40px;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer--navLink{
    color: rgb(219, 245, 253);
    cursor: pointer;
}

.footer--navLink:hover{
    color: rgb(231, 243, 247);
}

.footer--sign {
    width: 45%;
    min-height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: rgb(219, 245, 253);
    font-size: 1rem;
}

@media screen and (max-width: 1200px) {
    footer {
        min-height: 50px;
    }
}