.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

img {
    width: 300px;
    height: auto;
}

img.blur {
}

.img__container {
    overflow: hidden;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px; 
}