.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

img {
    width: 300px;
}

.baseImage {
    height: 100%;
    width: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__container {
    position: relative;
    display: inline-block;

    overflow: hidden;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px; 

    top: 0;
}

.img__changeSizeButton {
    position: absolute;
    width: 50%;

    bottom: 0; 
    left: 50%;
    margin: 0; 
    transform: translateX(-50%);

    background: rgba(0, 0, 0, 0.6);  
    color: white;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px;

    font-size: 1rem;
    font-weight: bold;
}

.frontPage--fullImage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.frontPage--fullImageData {
    width: 100%;
    height: 100%;    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: rgba(0, 0, 0, 0.4);
}

.img__fullImageContainer {
    width: 100%;
    height: 100%;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.img__fullImage {
    width: auto;
    height: 80%;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px; 
}