/* Move to index.css */
img {
    width: 300px;
}

.personalGallery {
    height: 100%;
    width: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 50px;
}

.personalGallery--title {
    width: 100%;
    height: 10%;

    color: rgb(46, 44, 53);
    font-size: 4rem;
}

.personalGallery__imageWrap {
    width: 100%;
    height: 90%;
    gap: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    flex-flow: wrap;
}

.personalGallery__imgContainer {
    height: 70%;
    width: 300px;
    gap: .5rem;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.personalGallery__imgContainer--data {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.personalGallery__imgContainer--title {
    height: 40%;
    width: 100%;

    font-size: 1.5rem;
}

.personalGallery__imgContainer--stylesList {
    height: 80%;
    width: 100%;
    gap: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personalGallery__imgContainer--label {
    height: 20%;
    width: 100%;

    font-size: .9rem;
}

.personalGallery__imgContainer--styles--wrap {
    height: 80%;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personalGallery__imgContainer--stylesList--item {
    font-size: .8rem;

    border: 2px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    border-radius: 10px;

    padding: 0 5px 0 5px;
}

.personalGallery__imgContainer--stylesList--item:hover {
    border: 2px solid rgb(175, 192, 207);
    background-color: rgba(46, 46, 46, 0.8);
    color: rgb(232, 239, 245);

    cursor: default;
}

.personalGallery__imgContainer--imageWrap {
    height: 100%;
    max-height: 60%;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    top: 0;
}

.personalGallery__imgContainer--baseImage {
    height: auto;
    max-height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;
    overflow: hidden;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px;
    box-shadow: 5px 8px 10px rgba(49, 68, 105, 0.7);
}

.personalGallery__imgContainer--baseImage:hover {
    border: 2px solid slateblue;
    border-radius: 15px;
    box-shadow: 7px 10px 10px rgba(49, 68, 105, 0.7);
}

.personalGallery__imgContainer--changeSizeButton {
    position: absolute;
    height: 30px;
    width: 30px;

    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(230, 230, 230, 0.3);
    border-radius: 15px;
    fill: aliceblue;
}

.personalGallery__imgContainer--changeSizeButton:hover {
    background: rgba(230, 230, 230, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.6);
    fill: rgba(0, 0, 0, 8);
}

.personalGallery__imgContainer--changeSizeButton--icon {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: flex-start;
}

.personalGallery__fullImage {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    position: absolute;

    background-color: rgba(0, 0, 0, 0.6);
}

.personalGallery__fullImage--data {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.personalGallery__fullImage--name {
    font-size: 3rem;
    color: rgb(212, 223, 228);
}

.personalGallery__fullImage--imageContainer {
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.personalGallery__fullImage--image {
    height: 90%;
    width: auto;

    border: 2px solid rgb(35, 25, 63);
}

.personalGallery--navButton, .personalGallery--deleteButton {
    width: 150px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.personalGallery--navButton:hover, .personalGallery--deleteButton:hover{
    border: 2px solid rgb(228, 225, 243);
}
