.profile {
    width: 45%;
    height: 75%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    background: linear-gradient(-90deg, rgba(148, 128, 238, 0.2) 0%, rgba(87, 87, 223, 0.2) 35%, rgba(73, 92, 129, 0.2) 100%);
    box-shadow: 10px 5px 10px rgba(55, 55, 110, 0.4);
}

.profile__title {
    width: 100%;
    height: 10%;

    color: rgb(46, 44, 53);
    font-size: 4rem;
}

.profile__userData {
    width: 50%;
    height: 60%;
    gap: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile__subtitle {
    width: 100%;
    height: 10%;

    font-size: 2rem;
    color: rgb(58, 57, 63);

    border-bottom: 2px solid rgb(74, 64, 141);
}

.profile__text {
    gap: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgb(74, 73, 80);
    font-size: 1rem;
}

.profile__name, 
.profile__email,
.profile__nick,
.profile__phone,
.profile__sfw,
.profile__score {
    font-size: 1.2rem;
    color: rgb(40, 34, 73);;
}

.profile__userStyles {
    height: 20%;
    width: 100%;
    gap: .5rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.profile__userStyles--title {
    font-size: 1rem;
}

.profile__userStyles--list {
    gap: .5rem;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile__userStyles--style {
    font-size: .9rem;

    border: 2px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    border-radius: 10px;

    padding: 0 7px 0 7px;
}

.profile__userStyles--style:hover {
    border: 2px solid rgb(175, 192, 207);
    background-color: rgba(46, 46, 46, 0.8);
    color: rgb(232, 239, 245);

    cursor: default;
}

.profile__editUserButton {
    width: 170px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: .9rem;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.profile__deleteUserButton {
    width: 150px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: .9rem;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.profile__editUserButton,
.profile__deleteUserButton {    
    border: 2px solid rgb(228, 225, 243);
}

.profile__editUserState {
}