.rateUser__window {
    width: 40%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.rateUser__windowWrap {
    width: 100%;
    height: 100%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
}

.rateUser__valuesWrap {
    width: 90%;
    height: 30%;
    gap: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
}

.login_registerButton {
  cursor: pointer;
}

