.stateCard--main {
    width: 90%;
    height: 85%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stateCard {
    width: 60%;
    height: 80%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 5;
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgb(139, 147, 223) 35%, rgb(106, 133, 187) 100%);
    border: 5px solid slateblue;
    border-radius: 15px;
    padding: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 10px 5px 10px rgba(55, 55, 110, 0.4);

    overflow-y: scroll;
    scroll-padding: 8px;
}

.stateCard::-webkit-scrollbar-track {
    background: slateblue;
    border-radius: 0 0 2px 2px;
}

.stateCard::-webkit-scrollbar {
    width: 10px;
    border-radius: 12px;
}

.stateCard::-webkit-scrollbar-thumb {
    background-color: rgb(54, 46, 107);
    border-radius: 12px;
    border: 2px solid rgb(171, 165, 209);
}

.stateCard--active,
.stateCard--finalized {
    width: 60%;
    min-width: 30rem;
    height: 85%;
    min-height: 20rem;
    gap: 1rem;

    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stateCard--title {
    width: 100%;
    height: 5%;

    font-size: 1.7rem;
    font-weight: bold;

    color: rgb(37, 22, 71);
}

.stateCard--loadStatus {
    width: 100%;
    height: 5%;

    font-size: 1.3rem;
    font-weight: bold;

    color: rgb(37, 22, 71);
}

.stateCard__data {
    width: 100%;
    height: 100%;
    gap: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 15px;
    box-shadow: 5px 8px 10px rgba(49, 68, 105, 0.7);
    background: linear-gradient(-90deg, rgb(198, 191, 230, 0.2) 0%, rgb(139, 147, 223, 0.2) 35%, rgb(106, 133, 187, 0.2) 100%);
    margin: 1rem;
}

.stateCard__data--content {
    width: 85%;
    height: auto;

    font-size: 1rem;

    color: rgb(44, 31, 73);
}

.stateCard__data--button {
    width: 200px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.stateCard__data--button.updateCard {
    width: 300px;
}

.stateCard__data--button:hover {
    border: 2px solid rgb(228, 225, 243);
}

.stateCard__update {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 10;
    background: rgba(10, 6, 51, 0.4);
    margin: 0;
    padding: 0;

    inset: 0;
}

.stateCard__update--wrap {
    width: 50%;
    height: 60%;
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 15;
    border-radius: 15px;
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgb(139, 147, 223) 35%, rgb(106, 133, 187) 100%);
    border: 5px solid slateblue;
    box-shadow: 10px 5px 10px rgba(55, 55, 110, 0.4);
}

.stateCard__update--title {
    width: 100%;
    height: 5%;

    color: rgb(46, 44, 53);
    font-size: 1.5rem;
}

.stateCard__update--form {
    width: 40%;
    height: 60%;
    gap: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stateCard__update--label {
    width: 85%;
    height: auto;

    font-size: 1.2rem;

    color: rgb(44, 31, 73);
}

.stateCard__update--input {
    width: 15rem;
    min-width: 10rem;
    max-width: 20rem;
    height: 3rem;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 10px;

    box-shadow: none;

    padding-left: 10px;
}

.stateCard__update--input.textarea {
    width: 15rem;
    min-height: 8rem;
}

.stateCard__update--button {
    width: 150px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.stateCard__update--button:hover {
    border: 2px solid rgb(228, 225, 243);
}

.stateCard--toast {
    width: 45%;
    height: 2rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;

    background-color: rgb(54, 46, 107);
    border-radius: 12px;
    border: 2px solid rgb(171, 165, 209);

    color: rgb(198, 191, 230);
    font-size: 14px;
    opacity: 0;

    padding: 10px 14px;
    border-radius: 6px;

    pointer-events: none;
}

.stateCard--toast.show {
    opacity: 1;
}