.addImage {
    width: 35%;
    height: 80%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgb(139, 147, 223) 35%, rgb(106, 133, 187) 100%);
    border: 5px solid slateblue;
    border-radius: 15px;
    padding: 2rem;

    box-shadow: 10px 5px 10px rgba(55, 55, 110, 0.4);
}

.addImage--title {
    width: 100%;
    height: 5%;

    color: rgb(46, 44, 53);
    font-size: 1.5rem;
}

.addImage--form {
    width: 100%;
    height: 85%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 15px;
}

.addImage--label {
    width: 100%;
    height: 1rem;

    font-size: 1.2rem;

    color: rgb(46, 34, 75);
}

.addImage--input {
    width: 15rem;
    min-width: 15rem;
    max-width: 25rem;
    height: 30px;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 10px;

    box-shadow: none;

    padding-left: 10px;
}

.addImage--input.imageFile {
    min-width: 20rem;
    max-width: 30rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addImage--select {
    width: 15rem;
    min-width: 10rem;
    max-width: 20rem;
    height: 4rem;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 10px;

    box-shadow: none;

    padding-left: 10px;
}

.addImage--select::-webkit-scrollbar-track {
    background: slateblue;
    border-radius: 0 12px 12px 0;
}

.addImage--select::-webkit-scrollbar {
    width: 8px;
    border-radius: 12px;
}

.addImage--select::-webkit-scrollbar-thumb {
    background-color: rgb(54, 46, 107);
    border-radius: 12px;
    border: 2px solid rgb(171, 165, 209);
}

.addImage--checkbox {
    width: 20px;
    height: 20px;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 10px;

    box-shadow: none;

    padding-left: 10px;
}

.addImage--formError {    
    width: 100%;
    height: .7rem;
    gap: .2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: .8rem;

    color: rgb(37, 22, 71);
}

.addImage--formButton {
    width: 150px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.addImage--formButton {
    border: 2px solid rgb(228, 225, 243);
}

.addImage--navButton  {
    width: 150px;
    height: 40px;
    max-height: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(232, 229, 247);
    border: 2px solid rgb(74, 64, 141);
    border-radius: 15px;
}

.addImage--navButton:hover {
    border: 2px solid rgb(228, 225, 243);
}

.addImage--status {
    width: 100%;
    height: 5%;
    gap: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;

    color: rgb(37, 22, 71);
}