* {
  font-family: "Gleegoo", serif;
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(79, 78, 88);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  position: relative;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.1rem;
  background: linear-gradient(-90deg, rgba(198, 191, 230, 0.4) 0%, rgba(100, 100, 216, 0.4) 35%, rgba(30, 90, 211, 0.4) 100%);

  overflow: auto;
}